node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log*

.next
dist
build
.git
.vscode
.env
.env.*
!.env.production.example
prisma_error.log
tsc.log

packages/*/dist
packages/*/node_modules
apps/*/dist
apps/*/.next
apps/*/node_modules
apps/*/coverage
